<main>
  <div class="greet">
    <div class="frame">
      <div class="color">
        <form action="/greet" method="get">
          <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
          <button type="submit">Greet</button>
        </form>
      </div>
      <div class="container"></div>
    </div>
  </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .frame {
        position: relative;
        width: 500px;
        height: 500px;
    }

    .container {
        position: absolute;
        inset: 0;
        background: url("https://gdbrowser.com/assets/epicbox.png") no-repeat center/contain;
        z-index: 2;
        pointer-events: none; /* IMPORTANT */
    }

    body {
        background-image: linear-gradient(#0065FD, #002E73);
    }

    .color {
        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 25px;
        right: 25px;
        background-color: rgb(173,115,76);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }



</style>